
//
// VARIABLES
//

// Colors
$hover: #74aadc;

// Grays
// $selectionHighlightColor: #000;
// $headings: #222;
// $shade4: #333;
// $shade3: #666;
// $shade2: #eee;
// $mainBg: #fff;

$selectionHighlightColor: #666;
$headings: #fff;
$shade4: #ccc;
$shade5: #aaa;
$shade3: #EEEEEE;
$shade2: #111; // footer-bg, selection-bg, etc
$mainBg: #222; 
$blockquote: #21598e;
// Font stacks
$font1: Helvetica, Arial, sans-serif;
$font2: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font3: Georgia, serif;

$inlinecode: #ff6a00;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}